*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: biondisansrg-bold;
  src: url(fonts/biondisansrg-bold);
}

@font-face {
  font-family: Trajana_Sans_Bold;
  src: url(fonts/Trajana_Sans_Bold);
}


@font-face {
  font-family: kontora-extrablack;
  src: url(fonts/kontora-extrablack);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #2b2b2b;
  color: white;
  
}


.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #515151 ;
  width: 20%;
  padding-left: 40px;

}


.logo-span{
  display: flex;
  align-items: center;
}

.Brand {
  border: #2b2b2b;
  font-size: 70px;
  font-family: Lobster, sans-serif;
}

.Badge {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 580;
  background: #ff4fc3;
  padding: 2px 6px;
  font-size: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  

}

.divEntrar{
  display: flex;
  align-items: center;
  margin-right: 05px;
  gap: 10px;

}
.menu {
  display: flex;
  gap: 25px;
  /* background-color: red; */
}

.menu a{
  font-family: sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 780;
  text-transform: uppercase;
  padding: 5px 0

}

.active-link {
    border-bottom: 4px solid #2ecc71; /* A linha verde grossa */
}


.entrarCasting{
  background-color: #ff00ff;
  border: none;
  color: white;
  font-size: 30px;
  font-weight: 750;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
  transition: 0.3s;

}

.entrarCasting:hover {
    filter: brightness(1.1);
}
 

.Profile img {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}


.gradient-line{
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #2ecc71, #3498db, #9b59b6, #e91e63);
}