<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}">

<head>


    <title> JavaLanhces - Listar Clientes</title>

</head>

<body>


    <main>

        <div class="container mt-5">

            <h1 class="mb-4">Clientes Cadastrados</h1>

            <div class="row">

                <div class="accordion" id="accordionClientes">

                    <div class="accordion-item" th:each="cliente : ${clientes}">



                        <button class="accordion-button" type="button">

                            <span th:text="${cliente.nome}"></span>

                        </button>




                        <!-- <div th:if="${#lists.isEmpty(cliente)}">
                            <div class="alert alert-warning">
                                Nenhum cliente encontrado
                            </div>
                        </div> -->

                        <div class="accordion-body">

                            <p>
                                <strong>Nome:</strong>
                                <span th:text="${cliente.nome}"></span>
                            </p>

                            <p>
                                <strong>Email:</strong>
                                <span th:text="${cliente.email}"></span>
                            </p>

                        </div>










                    </div>


                </div>


            </div>




        </div>

    </main>





</body>

</html>