<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}">

<head>

    <title>JavaLanches - Cadastrar novo cliente</title>
</head>

<body>

    <main>
        <h1>Cadastrar novo Cliente</h1>
        <hr>

        <!-- TODO: Crie um formulário de cadastro de clientes. obs: Dentro do formulário, inclua os campos do endereço -->
        <!-- NOTE: inclua os campos do endereço -->
        <!-- NOTE: ao terminar, faça as interfaces do cliente e do endereço  -->

        <form class="POST">

            <div class="container">

                <div class="row">


                    <div class="col-12 col-mb-8 col-lg-4 mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite seu nome" required>
                    </div>

                    <div class="col-12 col-mb-8 col-lg-4 mb-3 ">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" class="form-control" name="cpf" id="cpf" placeholder="Digite seu CPF" required>
                    </div>

                    <div class="col-12 col-mb-8 col-lg-4 mb-3">
                        <label for="dataNascimento" class="form-label">Data de Nascimento </label>
                        <input type="date" class="form-control" name="dataNascimento" id="dataNascimento" required>
                    </div>

                    <div class="col-12 col-mb-8 col-lg-8 mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu E-mail" required>
                    </div>

                    <div class="col-12 col-mb-8 col-lg-4 mb-3">
                        <label for="telefone" class="form-label">Telefone </label>
                        <input type="number" class="form-control" name="telefone" id="telefone" placeholder="(00) 0000-0000" step="0.1" required>
                    </div>

                    <legend class="mt-3">Endereço</legend>
                    <hr>

                    <div class="col-12 col-mb-8 col-lg-4 mb-3">
                        <label for="Cep" class="form-label">CEP</label>
                        <input type="text" class="form-control" name="Cep" id="Cep" placeholder="Digite seu CEP" required>
                    </div>

                    

                </div>

            </div>

            <div class="container">

                <div class="row">
                    
                    <div class="col-12 col-mb-8 col-lg-4 mb-3">
                        <label for="cidade" class="form-label">Cidade</label>
                        <input type="text" class="form-control" name="cidade" id="cidade" required>
                    </div>

                    <div class="col-12 col-mb-8 col-lg-4 mb-3">
                        <label for="uf" class="form-label">Uf</label>
                        <input type="text" class="form-control" name="uf" id="uf" required>
                    </div>

                    
                    <div class="col-12 col-mb-8 col-lg-4 mb-3">
                        <label for="bairro" class="form-label"> Bairro </label>
                        <input type="text" class="form-control" name="bairro" id="bairro" required>
                    </div>

                    <div class="col-12 col-mb-8 col-lg-4 mb-3">
                        <label for="logradouro" class="form-label"> Logradouro </label>
                        <input type="text" class="form-control" name="logradouro" id="logradouro" required>
                    </div>

                    <div class="col-12 col-mb-8 col-lg-2 mb-3">
                        <label for="numero" class="form-label"> Número </label>
                        <input type="number" class="form-control" name="numero" id="numero" required step="0.01">
                    </div>

                    <div class="col-12 col-mb-8 col-lg-6 mb-3">
                        <label for="complemento" class="form-label"> Complemento</label>
                        <input type="text" class="form-control" name="complemento" id="complemento" >
                    </div>
                   

                </div>


            </div>


        </form>




    </main>

</body>

</html>