<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}">
<head>
    
    <title>Home Page</title>
</head>
<body>

    <main>
        <h1>Home page</h1>
        
        <hr>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt deserunt iure quisquam eaque unde debitis enim quod nihil, voluptatum aspernatur at delectus eligendi est nobis a sint atque voluptates fugit.
        </p>

    </main>
    
</body>
</html>